*{

margin:0;
padding:0;
box-sizing:border-box;

}

html{

scroll-behavior:smooth;

}

body{

font-family:"Poppins",sans-serif;

background:

linear-gradient(
135deg,
#06101c,
#0b1830,
#08101d);

color:var(--text);

overflow-x:hidden;

}

/* Scrollbar */

::-webkit-scrollbar{

width:10px;

}

::-webkit-scrollbar-thumb{

background:var(--primary);

border-radius:20px;

}

::-webkit-scrollbar-track{

background:#07111d;

}

img{

max-width:100%;

display:block;

}

a{

text-decoration:none;

color:inherit;

}

button{

cursor:pointer;

font-family:inherit;

}

section{

padding:120px 0;

}

main{

margin-left:260px;

padding:70px;

}