/* Coolors Exported Palette - https://coolors.co/f46530-000000-3a2d28-fefefe-a1a09f */

/* CSS HEX */
--giants-orange: #F46530ff;
--black: #000000ff;
--van-dyke: #3A2D28ff;
--white: #FEFEFEff;
--silver: #A1A09Fff;

/* CSS HSL */
--giants-orange: hsla(16, 90%, 57%, 1);
--black: hsla(0, 0%, 0%, 1);
--van-dyke: hsla(17, 18%, 19%, 1);
--white: hsla(0, 0%, 100%, 1);
--silver: hsla(30, 1%, 63%, 1);

/* SCSS HEX */
$giants-orange: #F46530ff;
$black: #000000ff;
$van-dyke: #3A2D28ff;
$white: #FEFEFEff;
$silver: #A1A09Fff;

/* SCSS HSL */
$giants-orange: hsla(16, 90%, 57%, 1);
$black: hsla(0, 0%, 0%, 1);
$van-dyke: hsla(17, 18%, 19%, 1);
$white: hsla(0, 0%, 100%, 1);
$silver: hsla(30, 1%, 63%, 1);

/* SCSS RGB */
$giants-orange: rgba(244, 101, 48, 1);
$black: rgba(0, 0, 0, 1);
$van-dyke: rgba(58, 45, 40, 1);
$white: rgba(254, 254, 254, 1);
$silver: rgba(161, 160, 159, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #F46530ff, #000000ff, #3A2D28ff, #FEFEFEff, #A1A09Fff);
$gradient-right: linear-gradient(90deg, #F46530ff, #000000ff, #3A2D28ff, #FEFEFEff, #A1A09Fff);
$gradient-bottom: linear-gradient(180deg, #F46530ff, #000000ff, #3A2D28ff, #FEFEFEff, #A1A09Fff);
$gradient-left: linear-gradient(270deg, #F46530ff, #000000ff, #3A2D28ff, #FEFEFEff, #A1A09Fff);
$gradient-top-right: linear-gradient(45deg, #F46530ff, #000000ff, #3A2D28ff, #FEFEFEff, #A1A09Fff);
$gradient-bottom-right: linear-gradient(135deg, #F46530ff, #000000ff, #3A2D28ff, #FEFEFEff, #A1A09Fff);
$gradient-top-left: linear-gradient(225deg, #F46530ff, #000000ff, #3A2D28ff, #FEFEFEff, #A1A09Fff);
$gradient-bottom-left: linear-gradient(315deg, #F46530ff, #000000ff, #3A2D28ff, #FEFEFEff, #A1A09Fff);
$gradient-radial: radial-gradient(#F46530ff, #000000ff, #3A2D28ff, #FEFEFEff, #A1A09Fff);