*{
    box-sizing: border-box;
    margin: 0 auto;
}

::-webkit-scrollbar{
  width:.9em; 
}

::-webkit-scrollbar-track{
  /* background:rgb(170, 170, 170); */
  background: black;
  border-radius:1000vw;
}

::-webkit-scrollbar-thumb{
 background: white; 
 border-radius:100vw;
 /* border:.5em rgb(170, 170, 170); */
 /* border: .5em red; */
}

::-webkit-scrollbar-thumb:hover{
 /* background: rgba(0, 0, 0, 0.747);  */
 background: orangered;
}

#year{
  color: black;
  font-family: poppins;
}

#booking{
  position: absolute;
  float: right;
}

img{
  height: auto;
  max-width: 100%;
  position: static;
}

.logo_span  {
color: black;
position: relative;  
bottom: 10px;
}

#nav_image{
align-self: center;
margin-left: 1rem;
height: 2rem; 
}

#nav{
position: relative;
align-self: center;
display: flexbox;
}

#navigation{
z-index: 1;
background-color: white;
display:flex;
position: fixed;
padding:16px;
border-bottom-left-radius: 20px;
border-bottom-right-radius: 20px;
}

#ham{
right:2rem;
top: 1rem;
border: 3px solid white;
position: relative;
cursor: pointer;
float: right;
}  

#box{
border: 2px solid salmon;
position: relative;
display: none;
/* justify-content: right; */
}

#checkbox{
opacity: 0.002;
z-index: 1;
height: 2rem;
width: 2rem;
position: absolute;
}

.bar{
position: relative;
cursor: pointer;
justify-content: right;
height: 1.8rem;
width: 2rem;
}

.bar .top , .bar .middle  , .bar .bottom {
height: 3px;
width: 2rem;
background: white;
border-radius: 50px;
position: absolute;
transition: 0.3s ease;
}

.bar .middle{
bottom: 12.7px;
}

.bar .bottom{
bottom: 1px;
} 

#checkbox{
border: 2px solid white;
}

#Home,#Portfolio,#About,#Contact{
  cursor: pointer;
  position:relative;
  margin-right: 3px;
  font: size 12px;;
  border-radius: 10px;
  text-decoration: none;
  font-weight: 500;
  color: #ff4500;
}


/* #Home:visited,#Portfolio:visited,#About:visited,#Contact:visited{
  color: black;
} */

/* #Home:active{
  background-color: blue;
  color: purple;
} */

#Home:active{
  color: aqua;
}

 #Home,#Portfolio,#About,#Contact,#icon{
animation: fadeInLeft ease 3s;
}
@keyframes fadeInLeft {
0% {
opacity:-1;
position: relative;
left: -30rem;
 
}
20% {
opacity:0.2;
position: relative;
 
}
40% {
opacity:0.4;
position: relative;
 
}
60% {
opacity:0.6;
position: relative;
 
}
80% {
opacity:0.8;
position: relative;

 
}
100% {
opacity:1;
position: relative;
left: 0rem;
 
} 
} 

#Home:hover,#Portfolio:hover,#About:hover,#Contact:hover{
  background-color: orangered;
  color: black;
  border-radius: 15px;
}

body{
  background-color: black;
  margin: 0;
  padding: 0;
}

.particle-js-canvas-el{
  margin: 0;
  width:100% ;
  height:100% ;
}

.flex_container{
  top: 3rem;
  position: relative;
  display: flex;
  height: fit-content;
  margin-bottom: 2rem;
  padding-top: 2rem;
  padding-left: 1rem;
}

#content_profile{
position: relative;
margin-top: 7rem;
justify-items: center;
text-align: center;
width:30rem;
font-size: 40px;
}

.border{
border:5px solid black;
}

#content_text{
  position: relative;
  background-color: transparent;
  padding: 1rem;
  position: relative;
  font-size: 40px;
}

#center{
  height: fit-content;
  text-align: center;
}

.intro{
  text-align: left;
  font-size:4rem;
  text-shadow: -1px -1px 0 orangered, 1px -1px 0 black, -1px 1px 0 orangered, 1px 1px 0 black;
}

.intro_static{
  padding: 2px 3px 2px 15px;
  border-radius: 18px;
  background-color: white;
  color: black;
}

.intro_static:hover{
  background-color: white;
  text-shadow: -1px -1px 0 orangered, 1px -1px 0 black, -1px 1px 0 orangered, 1px 1px 0 black;

}

.intro:hover{
  padding: 0px 7px 4px 7px;
  border-radius: 25px;
  text-shadow: -1px -1px 0 orangered, 1px -1px 0 black, -1px 1px 0 orangered, 1px 1px 0 black;
  background-color: white;
  color: black;
}

span,.text_headers{
  color:White;
  font-family: Poppins;
}

a{
  color:white;
  font-family:Poppins ;
}

#image{
  position: relative;
  background-size: cover;
  background-color: transparent;
  background-repeat:no-repeat;
  background-size:cover;
  /* border-radius: 50%; */
  margin: 1rem;
  margin-bottom: .5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  bottom: 2rem;
  border: 6px solid;
  border-style: dotted;  
}

#image:hover{
/* background-color: white; */
/* border-color: orangered; */
}

#content_button{
  align-content: center;
  margin-bottom: 1rem;
  cursor: pointer;
  font-family: Poppins;
  font-size: 17px;
  color:black;
  border:none;
  background-color:orangered;
  padding: 7px;
  text-decoration: none;
  border-radius: 10px;
  position: relative;
  text-transform: none;
}

#content_button:hover{
  background-color: white;
  color:black;
  font-size: 20px;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.371),0 17px 50px 0 rgba(0, 0, 0, 0.371);
}

#skill{
  position: relative;
  margin-top: 2rem;
  background-color: grey;
  text-align: center;
  padding: 0 0 3rem 0;
}

#skill_text{
  top: 2rem;
  /* border: 3px solid white; */
  font-size: 2rem;
  position: relative;
  text-align: center;
  margin-bottom: 4rem;
}

#skill_text > span {
  color: black;
}

.skill_content{
  text-align: center;
  border:5px solid black;
  border-style: dotted;
  border-radius: 10px;
  width: 40%;
  height: 30rem;
  margin-bottom: 2rem;
  padding: 1rem  0 1rem 0;
}

.skill_content > span {
  color: black;
  font-family: poppins;
  font-size: 1.5rem;
  position: relative;
  top: 5px;
}

#skill_flex{
  padding: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.skill_content > img {
  position: relative;
  display: block;
  height: 85%;
  width: 70%;
  margin-top: 1rem;
  /* border:2px solid black; */
  border-radius: 10px;
}

#foot_container{
  display:block;
  /* background-color:rgba(0, 0, 0, 0.666); */
  color:black;
  position: absolute;
  height: 39.69vh;
  bottom: 100px;
  left: 0;
  right: 0;
  top: 480px;
}

.text_headers{
  font-family: Poppins;
  margin-left: 9rem;
  color:white;
}

#child_footer_container1{
  display: block;
  background-color:inherit;
  position: absolute;
  height: 25vh;
  width: 400px;
  padding: 20px 0;
  left: 100px;
  top: 65px;
  border-radius: 50px;    
  /* background-color:white; */
}

#child_footer_container2{
  display: block;
  background-color:inherit;
  position: absolute;
  height: 25vh;
  width: 400px;
  padding: 20px 0;
  left: 600px;
  top: 65px;
  border-radius: 50px;
  /* background-color:white; */
}
#child_footer_container3{
  display: block;
  background-color:inherit;
  position: absolute;
  height: 25vh;
  width: 400px;
  padding: 20px 0;
  left: 1100px;
  top: 65px;
  border-radius: 50px;
  /* background-color:white; */
}

.child_footer_container_animation{
animation: fadeIn_footer ease-in 2.5s;
}
@keyframes fadeIn_footer {
0% {
  opacity:0;
}
20% {
  opacity:0;
}
40% {
  opacity:0;
}
60% {
  opacity:0;
}
80% {
  opacity:0;
}
100% {
  opacity:1;
}
}

.fade-in{
  animation: fadeIn ease 4s;
}
@keyframes fadeIn {
  0% {
     
    opacity:1;
    /* font-size: 6.66px; */
    position: relative;
    left: -30rem;
     
  }
  20% {
     
    opacity:1;
    /* font-size: 13.32px; */
    position: relative;
     
  }
  40% {
    opacity:1;
    /* font-size: 19.98px; */
    position: relative;
     
  }
  60% {
    opacity:1;
    /* font-size: 26.64px; */
    position: relative;
     
  }
  80% {
    opacity:1context;
    /* font-size: 33.3px; */
    position: relative;

     
  }
  100% {
    opacity:1;
    /* font-size: 40px; */
    position: relative;
    left: 0rem;
     
  }
}

.explore{
animation: explore_fade ease-in 2.5s;
}
@keyframes explore_fade {
0% {
  opacity:0;
}
20% {
  opacity:0;
}
40% {
  opacity:0;
}
60% {
  opacity:0;
}
80% {
  opacity:0;
}
100% {
  opacity:1;
}
}

#footer_container{
  border: 2px solid black;
  background-color: white;
  height: 10vh;
  display: flex;
}

.link_items{
  padding: 5rem;
  display: flex;
  flex-direction: column;
  margin: 2rem auto 2rem 2rem;
  border: 1px solid black;
}

.link_items > a {
  text-decoration: none;
  color: black;
  font-family: poppins;
  padding-bottom: 1rem;
}

#link_cont{
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}

#footer{
  background-color: white;
  text-align: center;
  padding:10px;
  border: 1px solid black;
  border-left: 2px;
  border-right: 2px;
  font-family: poppins;
}

#footer_item{
  display: inline-block;
  text-align: center;
}

#footer_container{
  height: fit-content;
  padding: 2rem;
  display: flex;
}
